body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.fundo{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
    display: flex;
}

.central{
    background: rgba(255, 255, 255, 0);
    width: 500px;
    height: 250px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 1px 1px 18px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.central span{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.central #real{
    width: 320px;
    height: 13px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 20px;
    border: none;
    padding: 10px ;
}
.central #real:focus{
    background-color: rgb(234,234,234);
}


.central #botao{
    background: rgb(219, 174, 182);
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.central #botao:hover{
    background: rgba(255, 255, 255, 0.089);
    color: rgb(255, 255, 255);
} 

.central #resultado{
    color: white;
}