body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.fundo{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
    display: flex;

}

.central button{
    width: 190px;
    background: rgb(168, 33, 168);
    color: white;
    font-size: 20px;
    cursor: pointer;
}


img{
    width: 300px;
    margin-bottom: 20px;
}